/* HTML Elements */
html {
    height:100%;
}

body {
    background-color:#f4f2dd;
    font:12px Helvetica, Arial, sans-serif;
}

h2 {
    font-size:14px;
    font-weight:bold;
}

label {
	width:100px;
}

/* Base page elements */
#wrap {
    width:960px;
    margin:0 auto;
}

#banner {
	text-align:center;
	padding:20px;
    margin-bottom:20px;
    font-size:30px;
	color:#969696;
	text-shadow: -1px -1px 0px #474747, 1px 1px 0px #ffffff;
}

#header {
    height:97px;
    border-top:2px solid #f400a1;
    background-color:#302B1D;
    padding:20px;
    margin-bottom:20px;
	-moz-border-radius-bottomleft: 15px;
	-moz-border-radius-bottomright: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

#header #logo {
    height:97px;
    width:200px;
    background:url('../logo.png');
}


.search {
	position:relative;
    margin-top:50px;
	-moz-border-radius: 8px;
	border-radius: 8px;
    background: #f400a1;
    padding: 5px 5px 7px 5px;
	display: inline-block;
}

.search input {
    font: 12px Helvetica, Arial, sans-serif;
}
.search .field {
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset;
    background: #FFFFFF;
    border: 1px solid #fff;
    padding: 5px 5px 5px 5px;
    width: 200px;
}
.search .go {
	background: #f6389e;
	display: inline-block;
	padding: 5px 5px 5px;
	color: #fff;
	text-decoration: none;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
	box-shadow: 0 1px 3px rgba(0,0,0,0.6);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
	
	border:1px;
	
	
	font-size: 11px;
	font-weight: bold;
	line-height: 1;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25); 
}

.search .go:hover {background-color: #fb4ba9;
}
.search .go:visited {background-color: #f6389e;
}

#navbar {
    margin-top:-10px;
    float:right;
}

#navbar li {
    display:inline;
}

#navbar li a {
    text-transform:lowercase;
    font-weight:bold;
	font-size:14px;
    color:#fff;
    padding:10px 20px 10px 20px;
    text-decoration:none;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	border-bottom-right-radius: 5px;
}

#navbar li a#current_nav, #navbar li a:hover {
    background-color:#f5389e;
    border-top:2px solid #f7f6f2;
}

#main {
    background-color:#fff;
}

#left, #right {
    margin-bottom:50px;
	-moz-border-radius: 10px;
}

#left {
    background-color:#fff;
    float:left;
    width:400px;
    padding:20px;
    border-right:1px solid #eee;
}

.looking {
	width:460px;
	-moz-border-radius-topleft: 8px;
	border-top-left-radius: 8px;
	-moz-border-radius-topright: 8px;
	border-top-right-radius: 8px;
    padding: 5px 5px 5px 5px;
	display: inline-block;
}

.looking .textarea {
    font: 12px Helvetica, Arial, sans-serif;
}
.looking .field {
	-moz-border-radius: 5px;
	border-radius: 5px;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset;
    background: #FFFFFF;
    border: 1px solid #fff;
    padding: 5px 5px 5px 5px;
}
.looking .go {
	margin-top:10px;
	
	background: #f6389e;
	display: inline-block;
	padding: 5px 5px 5px;
	color: #fff;
	text-decoration: none;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
	box-shadow: 0 1px 3px rgba(0,0,0,0.6);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
	
	border:1px;
	
	font-size: 16px;
	font-weight: bold;
	line-height: 1;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25); 
	
}

.looking .go:hover {background-color: #fb4ba9;
	-moz-box-shadow: 0px 0px 7px #48453a;
	box-shadow: 0px 0px 7px #48453a;
}
.looking .go:visited {background-color: #f6389e;
}

#right {
    float:right;
    background-color:#fff;
    width:500px;
}

#right_inside {
    padding:0px 20px 20px 20px;
    height:100%;
}

#footer {
    background-color:#302B1D;
    clear:both;
    color:#fff;
    padding:20px;
	-moz-border-radius-topleft: 15px;
	border-top-left-radius: 15px;
	-moz-border-radius-topright: 15px;
	border-top-right-radius: 15px;
}

/* Detail page elements */
#event_submit {
    font-size:18px;
    padding:20px 20px 20px 20px;
    /*border-top:2px solid #f400a1;*/
    background-color:#302B1D;
}

#event_submit label {
    color:#fff;
    font-weight:bold;
}

#event_submit textarea {
    margin-top:5px;
    font-size:24px;
    resize:vertical;
    width:450px;
    border-radius:2px;
    border:1px solid #eee;
}

#event_submit textarea:focus {
    box-shadow: 0 0 2px 2px #f400a1;
}

#event_submit #find_wrap {
    text-align:right;
    /*width:101%; /* why? WHY?! It doesn't align otherwise! WHAT THE FUCK WINDOWS AFRSADADSAd */
    /* Never mind. */
}

#events_title {
    font-size:40px;
	letter-spacing:-2px;
    text-align:right;
	font-weight:bold;
    border-bottom:1px solid #eee;
    text-transform:lowercase;
    color:#e7e7e7;
    margin-top:20px;
	text-shadow:  -1px -1px 0px #c9c9c9, 1px 1px 0px #fff;
}

.event {
    border-bottom: 1px solid #EEEEEE;
    margin-top:5px;
    height:56px;
}

.event img {
    padding: 3px 0 0 3px;
}

.event_text {
	height:100%;
	vertical-align:central;
    font-size:16px;
    margin-left:60px;
    margin-top:-56px;
    width:400px;
}

.event_text a {
    font-variant: small-caps;
}

.event_time {
    float:right;
    background-color:#413C2E;
    color:#fff;
    font-weight:bold;
    padding:2px;
}
