<!doctype html> 
<html> 
<head> 
<script src="http://code.google.com/apis/gears/gears_init.js" type="text/javascript" charset="utf-8"></script> 
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script> 
<script type="text/javascript" src="/static/js/jquery-1.5.2.js"></script> 
<script type="text/javascript" src="/static/js/geo.js"></script> 
 
<script type="text/javascript" src="/static/js/jquery.datePicker.js"> 
</script> 
<script type="text/javascript"> 
var marker;
var coder = new google.maps.Geocoder();
 
function initialize_map()
{
    var myOptions = {
	      zoom: 4,
	      mapTypeControl: true,
              draggable: true,
	      mapTypeControlOptions: {style: google.maps.MapTypeControlStyle.DROPDOWN_MENU},
	      navigationControl: true,
	      navigationControlOptions: {style: google.maps.NavigationControlStyle.SMALL},
	      mapTypeId: google.maps.MapTypeId.ROADMAP      
	    }	
	map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
 
}
function initialize()
{
	if(geo_position_js.init())
	{
		document.getElementById('current').innerHTML="Receiving...";
		geo_position_js.getCurrentPosition(show_position,function(){document.getElementById('current').innerHTML="Couldn't get location"},{enableHighAccuracy:true});
	}
	else
	{
		document.getElementById('current').innerHTML="Functionality not available";
	}
}
 
function show_position(p)
{
        
	document.getElementById('current').innerHTML="Your latitude is "+p.coords.latitude.toFixed(3)+" and longitude is "+p.coords.longitude.toFixed(3);
	var pos=new google.maps.LatLng(p.coords.latitude,p.coords.longitude);
	map.setCenter(pos);
	map.setZoom(14);
 
	$('#latitude').val(pos.lat());
	$('#longitude').val(pos.lng());
	
	marker = new google.maps.Marker({
	    position: pos,
	    map: map,
	    draggable: true,
	    title:"Place your event here."
	});
 
 
        google.maps.event.addListener(marker, 'dragend', function(){
        var cpos = marker.getPosition();
	document.getElementById('current').innerHTML="Your latitude is "+cpos.lat().toFixed(3)+" and longitude is "+cpos.lng().toFixed(3);
	//sessionStorage.setItem('curpos',cpos);
	$('#latitude').val(cpos.lat());
	$('#longitude').val(cpos.lng());
        });
 
}
 
function codeLatLng() {
    //var address = document.getElementById("address").value;
    var posit = new google.maps.LatLng($('#latitude').val(),$('#longitude').val(),true);
    coder.geocode( { 'latLng': posit}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
	$('#location').val(results[1].formatted_address);
      } else {
        alert("Geocode was not successful for the following reason: " + status);
      }
    });
  }
 
  function codeAddress() {
    var address = document.getElementById("location").value;
    coder.geocode( { 'address': address}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
	map.setCenter(results[0].geometry.location);
	marker.setPosition(results[0].geometry.location);
          return results[0].geometry.location;
      } else {
        alert("Geocode was not successful for the following reason: " + status);
      }
    });
  }
 
 
$(document).ready(function() {
	var initialized = 0;
	$('#map').hide()
	$('#place').click(function() {
		$('#map').fadeIn('fast');
		if (!initialized) {
			initialize_map();
			initialize();
			initialized = 1;
		}
		if($('#location').val() != '') {
			codeAddress();
		}
		});
	$('#use_location').click(function() {
		$('#map').fadeOut('fast');
		codeLatLng();
		});
	$('#log').hide();
	$('#event_submit').submit(function() {
		$('#log').html('Submitting form...');
		$('#log').css({'color':'black'});
		$('#log').show();
		$.post(
			'/',
			$('#event_submit').serialize(),
			function(data) {
				$('#log').hide();
				if (data.success) {
					$('#log').css({'color':'#008000'});
					$('#log').html('Event submitted successfully.');
					$('#log').slideDown('slow');
				} else {
					var err = 'Errors occurred:<br>';
					err += data.error.join('<br>');
					for (i in data.validation) {
						err += i + ' ' + data.validation[i] + '<br>';
					}	
					$('#log').css({'color':'#800000'});
					$('#log').html(err);
					$('#log').slideDown('slow');
				}
			},
			'json'
		);
		return false;
	});
});
</script> 
 
</head> 
<body> 
 
<div id="main"> 
    
        
    
    <div id="left"> 
    </div> 
    <div id="right"> 
        <ul> 
        
        <li>Tim Kang at La Jolla, CA (2011-04-08 09:19:10.634871)<br> 
        Test description<br> 
        </li> 
        </ul> 
    <form method="POST" id="event_submit" action="/"> 
        <input id="csrf" name="csrf" type="hidden" value="50682da6-3b6b-4bc4-bb1e-e23f1a814f2e" /> <input id="latitude" name="latitude" type="hidden" value="" /> <input id="longitude" name="longitude" type="hidden" value="" /> 
	<label for="location">Location</label> <input id="location" name="location" type="text" value="" /> <input type="button" id="place" name="place" value="Place on map"><br> 
<div id="map"> 
<div id="current">Initializing...</div> 
	<div id="map_canvas" style="width:320px; height:350px"></div> 
<input type="button" id="use_location" name="use_location" value="Use This Location"></input> 
</div> 
        <label for="description">I'm looking for...</label> <input id="description" name="description" type="text" value="" /><br> 
        <label for="start_time">Start Time</label> <input id="start_time" name="start_time" type="text" value="" /><br> 
        <label for="end_time">End Time</label> <input id="end_time" name="end_time" type="text" value="" /><br> 
        <label for="expire_time">Expire Time</label> <input id="expire_time" name="expire_time" type="text" value="" /><br> 
        <input id="submit" name="submit" type="submit" value="Look for others" /> 
<div id="log"></div> 
    </div> 
</div> 
 
</body> 
</html>
