<div id="main">
    {% with messages = get_flashed_messages() %}
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
    {% endwith %}
    <div id="left">
    </div>
    <div id="right">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        <ul>
        {% for event in events %}
        <li>{{ event.creator.first_name }} {{ event.creator.last_name }}<br>
        {{ event.description }}</li>
        {% endfor %}</ul>
    </div>
</div>
