<div id="main">
    {% with messages = get_flashed_messages() %}
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
    {% endwith %}
    <div id="left">
    </div>
    <div id="right">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        <ul>
        {% for event in events %}
        <li>{{ event.creator.first_name }} {{ event.creator.last_name }}<br>
        {{ event.description }}</li>
        {% endfor %}</ul>
    <form method="POST" action="{{ url_for('index') }}">
        {{ form.csrf }} {{ form.location }}
        {{ form.description.label }} {{ form.description }}<br>
        {{ form.start_time.label }} {{ form.start_time }}<br>
        {{ form.end_time.label }} {{ form.end_time }}<br>
        {{ form.expire_time.label }} {{ form.expire_time }}<br>
        {{ form.submit }}
    </div>
</div>
