{% extends "layout.html" %}
{% block head %}
<script type="text/javascript" src="{{ url_for('index') }}static/js/jquery.datePicker.js">
</script>
<script type="text/javascript">
var marker;
var coder = new google.maps.Geocoder();
var map;

function initialize_map()
{
    var myOptions = {
	      zoom: 4,
	      mapTypeControl: true,
              draggable: true,
	      mapTypeControlOptions: {style: google.maps.MapTypeControlStyle.DROPDOWN_MENU},
	      navigationControl: true,
	      navigationControlOptions: {style: google.maps.NavigationControlStyle.SMALL},
	      mapTypeId: google.maps.MapTypeId.ROADMAP      
	    }	
	map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

}
function initialize()
{
	if(geo_position_js.init())
	{
		document.getElementById('current').innerHTML="Receiving...";
		geo_position_js.getCurrentPosition(show_position,function(){document.getElementById('current').innerHTML="Couldn't get location"},{enableHighAccuracy:true});
	}
	else
	{
		document.getElementById('current').innerHTML="Functionality not available";
	}
}

function show_position(p)
{
        
	document.getElementById('current').innerHTML="Your latitude is "+p.coords.latitude.toFixed(3)+" and longitude is "+p.coords.longitude.toFixed(3);
	var pos=new google.maps.LatLng(p.coords.latitude,p.coords.longitude);
	map.setCenter(pos);
	map.setZoom(14);

	$('#latitude').val(pos.lat());
	$('#longitude').val(pos.lng());
	
	marker = new google.maps.Marker({
	    position: pos,
	    map: map,
	    draggable: true,
	    title:"Place your event here."
	});


        google.maps.event.addListener(marker, 'dragend', function(){
        var cpos = marker.getPosition();
	document.getElementById('current').innerHTML="Your latitude is "+cpos.lat().toFixed(3)+" and longitude is "+cpos.lng().toFixed(3);
	//sessionStorage.setItem('curpos',cpos);
	$('#latitude').val(cpos.lat());
	$('#longitude').val(cpos.lng());
        });

}

function codeLatLng() {
    //var address = document.getElementById("address").value;
    var posit = new google.maps.LatLng($('#latitude').val(),$('#longitude').val(),true);
    coder.geocode( { 'latLng': posit}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
	$('#location').val(results[1].formatted_address);
      } else {
        alert("Geocode was not successful for the following reason: " + status);
      }
    });
  }

  function codeAddress() {
    var address = document.getElementById("location").value;
    coder.geocode( { 'address': address}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
	map.setCenter(results[0].geometry.location);
	marker.setPosition(results[0].geometry.location);
          return results[0].geometry.location;
      } else {
        alert("Geocode was not successful for the following reason: " + status);
      }
    });
  }


$(document).ready(function() {
	$('.event a').click(function(evt) {
		$("#dynamic").load($(this).attr('href'));
		evt.preventDefault();
		});
	$('#map').hide()
		initialize_map();
		initialize();
	$('#place').click(function() {
		$('#map').fadeIn('fast');
		google.maps.event.trigger(map,'resize');
		map.setCenter(marker.getPosition());
		if($('#location').val() != '') {
			codeAddress();
		}
		});
	$('#use_location').click(function() {
		$('#map').fadeOut('fast');
		codeLatLng();
		});
	$('#log').hide();
	$('#event_submit').submit(function() {
		$('#log').html('Submitting form...');
		$('#log').css({'color':'black'});
		$('#log').show();
		$.post(
			'{{ url_for('index') }}',
			$('#event_submit').serialize(),
			function(data) {
				$('#log').hide();
				if (data.success) {
					$('#log').css({'color':'#008000'});
					$('#log').html('Event submitted successfully.');
					$('#log').slideDown('slow');
					window.location.reload();
				} else {
					var err = 'Errors occurred:<br>';
					err += data.error.join('<br>');
					for (i in data.validation) {
						err += i + ' ' + data.validation[i] + '<br>';
					}	
					$('#log').css({'color':'#800000'});
					$('#log').html(err);
					$('#log').slideDown('slow');
				}
			},
			'json'
		);
		return false;
	});
});
</script>
{% endblock %}
{% block body %}
    {% with messages = get_flashed_messages() %}
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
    {% endwith %}
    <div id="left">
<div id="dynamic">
		{% if current_user %}
                    <h2>{{ current_user.username }} ({{ current_user.first_name }} {{ current_user.last_name }})</h2>
			About Me: {{ current_user.about_me }}
                    <p>&nbsp;</p>
                    <br>
		{% else %}
		<h2>Not logged in!</h2>
		{% endif %}
</div>
    </div>
    <div id="right">
	{% if current_user %}
    <form method="POST" id="event_submit" class="event_sub" action="{{ url_for('index') }}">
        {{ form.csrf_token }} {{ form.latitude }} {{ form.longitude }}
	{{ form.location.label}} {{ form.location }} <input type="button" id="place" name="place" value="Place on map"><br>
<div id="map">
<div id="current">Initializing...</div>
	<div id="map_canvas" style="width:320px; height:350px"></div>
<input type="button" id="use_location" name="use_location" value="Use This Location"></input>
</div>
        {{ form.description.label }} {{ form.description }}<br>
        {{ form.start_time.label }} {{ form.start_time }}<br>
        {{ form.end_time.label }} {{ form.end_time }}<br>
        {{ form.expire_time.label }} {{ form.expire_time }}<br>
<div id="find_wrap">
        {{ form.submit }}
</div>
<div id="log"></div>
</form>
<div id="right_inside">
	<div id="events_title">Events near you.</div>
        {% for event in events %}
	<div class="event">
        <a href="{{ url_for('profile', id=event.creator.id) }}">{{event.creator.username}}</a> at {{ event.location}} ({{ event.start_time }})<br>
        <b>{{ event.description }}</b><br>
	</div>
        {% endfor %}
</div>
{% else %}
{% block register %}
pleez register or login
{% endblock %}
{% endif %}
</div>
{% endblock %}
